<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxfh.auciton.dao.ComputerDao">

    <select id="listProduct" resultType="com.jxfh.auciton.pojo.Computer">
        SELECT
        cId,cName,startDate,startPrice,remark,imgUrl
        FROM computer
        WHERE isAuction=#{flag}
    </select>

    <resultMap id="ProductVOMap" type="com.jxfh.auciton.pojo.ProductVO">
        <id column="cId" property="cId"/>
        <result column="cName" property="cName"/>
        <result column="startDate" property="startDate"/>
        <result column="cutOffDate" property="cutOffDate"/>
        <result column="startPrice" property="startPrice"/>
        <result column="remark" property="remark"/>
        <result column="imgUrl" property="imgUrl"/>
        <collection property="list" ofType="com.jxfh.auciton.pojo.AuctionVO">
            <id column="uId" property="uId"/>
            <result column="username" property="username"/>
            <result column="tel" property="tel"/>
            <result column="auctionPri" property="auctionPrice"/>
            <result column="auctionDate" property="auctionDate"/>
        </collection>
    </resultMap>
    <select id="productDetail" resultMap="ProductVOMap">
        SELECT
        c.cId,c.cName,c.startDate,c.startPrice,c.remark,c.imgUrl,c.cutOffDate,
        u.uId,u.username,u.tel,ac.auctionPri,ac.auctionDate
        FROM computer c
        LEFT JOIN auctionuc ac ON c.cId=ac.cId
        LEFT JOIN user u ON u.uId=ac.uId
        WHERE c.cId=#{cId}
        ORDER BY ac.auctionPri
    </select>

    <select id="getProductInfo" resultType="com.jxfh.auciton.pojo.Computer">
        SELECT
        cId,cName,startDate,startPrice,remark,imgUrl,isAuction,cutOffDate
        FROM computer
        WHERE cId=#{cId}
    </select>

    <select id="maxPrice" resultType="java.lang.Integer">
        SELECT max(ac.auctionPri)
        FROM computer c
        INNER JOIN auctionuc ac ON c.cId=ac.cId
        WHERE c.cId=#{cId}
    </select>

    <select id="countAuctionProduct" resultType="int">
        SELECT
        COUNT(aId)
        FROM auctionuc
        WHERE cId=#{cId} AND uId=#{uId}
    </select>

    <update id="updateAuctionProduct">
        UPDATE auctionuc
        SET auctionPri=#{price}
        WHERE cId=#{cId} AND uId=#{uId}
    </update>

    <insert id="addAuctionProduct">
        INSERT INTO auctionuc(uId, cId, auctionPri) VALUE (#{uId},#{cId},#{price})
    </insert>
</mapper>